#form {
  padding: 100px 0;
  position: relative;
  background: white;
}
#form .title {
  font-family: "ClashDisplay-Bold";
  font-size: 40px;
  line-height: 56px;
  @apply text-secondary font-semibold pb-4 text-center;
}
#form .disc {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  @apply text-center text-dark mx-auto mb-10;
  max-width: 860px;
}
#form .form_content {
  border: 1px solid;
  @apply border-dark-3/20 p-10;
  border-radius: 40px;
}
#form .form_wrapper label {
  font-family: "ClashDisplay-Bold";
  font-size: 16px;
  line-height: 21px;
  @apply text-secondary;
}
#form .form_wrapper input {
  height: 56px;
  border: 1px solid;
  @apply rounded-lg px-6 py-4 border-light-5 outline-0 text-light-5 w-full mt-4;
  font-size: 18px;
}
#form .form_wrapper input:focus {
  @apply border-primary;
}
#form .form_wrapper input::placeholder {
  @apply text-light-5;
}
#form .form_wrapper .top {
  @apply grid grid-cols-2 gap-6 mb-6;
}
#form .form_wrapper .top .left, #form .form_wrapper .top .right {
  @apply flex flex-col;
}
#form .form_wrapper .bottom {
  @apply mt-6;
}
#form .form_wrapper .bottom textarea {
  @apply w-full mt-4 rounded-lg px-6 py-4 outline-0 text-light-5;
  font-size: 18px;
}
#form .form_wrapper .bottom textarea:focus {
  @apply border-primary;
}
#form .form_wrapper .bottom textarea::placeholder {
  @apply text-light-5;
}
#form .form_wrapper .btn_wrapper {
  @apply mt-10;
}
#form .form_wrapper .btn_wrapper .btn[variant=primary] {
  @apply rounded-full;
}
#form .content {
  box-shadow: 0 0 40px 0 rgba(9, 19, 33, 0.1215686275);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  max-width: 1320px;
  @apply bg-light-2 p-10 pt-14 mx-auto;
}
#form .content .content-grid {
  @apply grid grid-cols-3 gap-6;
}
#form .content .content-grid .content_wrapper {
  border: 1px solid;
  @apply p-10 rounded-3xl  border-dark-3/40 transition-all duration-300;
}
#form .content .content-grid .content_wrapper .icon_wrapper {
  @apply mb-10 w-16;
}
#form .content .content-grid .content_wrapper .title {
  font-size: 24px;
  line-height: 30px;
  @apply pb-2 text-left;
}
#form .content .content-grid .content_wrapper .disc {
  font-size: 16px;
  line-height: 19px;
  @apply mb-6 text-left;
}
#form .content .content-grid .content_wrapper .email_add {
  font-family: "ClashDisplay-Bold";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  @apply text-primary;
}
#form .content .content-grid .content_wrapper:hover {
  @apply bg-white border-white;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.0862745098);
}

@media (max-width: 1400px) {
  #form .content {
    max-width: 1100px;
  }
}
@media (max-width: 1200px) {
  #form {
    padding: 80px 0;
  }
  #form .title {
    font-size: 36px;
    line-height: 48px;
  }
  #form .content {
    max-width: 880px;
    border-bottom-left-radius: 36px;
    border-bottom-right-radius: 36px;
  }
  #form .content .content-grid {
    @apply grid  gap-4;
  }
  #form .content .content-grid .content_wrapper .icon_wrapper {
    @apply mb-8;
  }
  #form .content .content-grid .content_wrapper .title {
    font-size: 22px;
    line-height: 28px;
  }
  #form .content .content-grid .content_wrapper .disc {
    font-size: 14px;
    @apply mb-4;
  }
}
@media (max-width: 992px) {
  #form {
    padding: 64px 0;
  }
  #form .title {
    font-size: 32px;
    line-height: 36px;
    @apply pb-2;
  }
  #form .content {
    max-width: 660px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
  }
  #form .content .content-grid {
    @apply grid  grid-cols-4;
  }
  #form .content .content-grid .content_wrapper {
    @apply col-span-2;
  }
  #form .content .content-grid .content_wrapper .icon_wrapper {
    @apply mb-8 w-14;
  }
  #form .content .content-grid .content_wrapper .title {
    font-size: 22px;
    line-height: 28px;
  }
  #form .content .content-grid .content_wrapper .disc {
    font-size: 14px;
    @apply mb-4;
  }
  #form .content .content-grid .c-3 {
    @apply col-start-2 col-span-2;
  }
}
@media (max-width: 768px) {
  #form .content {
    max-width: 480px;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
  }
  #form .content .content-grid {
    @apply grid grid-cols-4;
  }
  #form .content .content-grid .content_wrapper {
    @apply p-6;
  }
  #form .content .content-grid .content_wrapper .icon_wrapper {
    @apply mb-7 w-12;
  }
  #form .content .content-grid .content_wrapper .title {
    font-size: 20px;
    line-height: 26px;
  }
  #form .content .content-grid .c-3 {
    @apply col-start-2 col-span-2;
  }
}
@media (max-width: 568px) {
  #form .title {
    font-size: 28px;
    line-height: 32px;
  }
  #form .form_content {
    @apply p-6 rounded-3xl;
  }
  #form .form_wrapper label {
    font-size: 14px;
    line-height: 18px;
  }
  #form .form_wrapper input {
    height: 48px;
    @apply px-4 py-2 mt-3;
    font-size: 16px;
  }
  #form .form_wrapper .top {
    @apply grid-cols-1 gap-4 mb-4;
  }
  #form .form_wrapper .bottom {
    @apply mt-4;
  }
  #form .form_wrapper .bottom textarea {
    @apply px-4 py-2 mt-3;
    font-size: 16px;
  }
  #form .form_wrapper .btn_wrapper {
    @apply mt-6;
  }
  #form .content {
    max-width: 100%;
    @apply p-6 mt-8;
    border: 24px;
  }
  #form .content .content-grid {
    @apply grid-cols-2;
  }
  #form .content .content-grid .content_wrapper {
    @apply p-6;
  }
  #form .content .content-grid .content_wrapper .icon_wrapper {
    @apply mb-7 w-12;
  }
  #form .content .content-grid .content_wrapper .title {
    font-size: 20px;
    line-height: 26px;
  }
  #form .content .content-grid .c-3 {
    @apply col-start-1;
  }
}

/*# sourceMappingURL=contact-us.css.map */
